<!doctype html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'uploadApp/index_style.css' %}" />

<head>
  <meta charset="utf-8">
  <title>Homepage</title>
</head>
<body>
  <div class="core">
    <header>
      <nav class = "menu">
	<li><a href="/">Home</a></li>
	<li><a href="/signup/">SignUp</a></li>
      </nav>
    </header>

    <section class="login">
      <div id="login">
	<h1>Log in</h1>
	<form id="signinform" action="/signin/" method="post">{% csrf_token %}
	<input type="username" name="username" placeholder="Username"/>
	<input type="password" name="password" placeholder="Password"/>
	<input type="submit" value="Log in"/>
      </form>
      </div>
    </section>


    <footer>
    </footer>
  </div>
</body>
</html>
