<!doctype html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'uploadApp/register_style.css' %}" />

<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="core">
    <header>
      <nav class = "menu">
	<li><a href="/">Home</a></li>
	<li><a href="/signup/">SignUp</a></li>
      </nav>
    </header>
    
    <form id="contactform" action="/signup/" method="post">{% csrf_token %}
      <p class="contact"><label for="name">First Name</label></p>
      <input id="first_name" name="first_name" placeholder="First name" required="" type="text">
      <p class="contact"><label for="name">Last Name</label></p>
      <input id="last_name" name="last_name" placeholder="Last name" required="" type="text">
      <p class="contact"><label for="email">Email</label></p>
      <input id="email" name="email" placeholder="example@domain.com" required="" type="email">
      <p class="contact"><label for="username">Username</label></p>
      <input id="username" name="username" placeholder="username" required="" type="text">
      <p class="contact"><label for="password">Password</label></p>
      <input type="password" id="password" name="password" required="" type="text">
      
      <p class="contact"><label for="password_confirmation">Confirm your password</label></p>
      <input type="password" id="password_confirmation" name="password_confirmation" required="" tabindex="5" type="text">
           <input class="buttom" name="submit" id="submit" tabindex="11" value="Sign me up!" type="submit">   
    </form>
    <footer>
    </footer>
  </div>
  

</body>
</html>
