<!doctype html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'uploadApp/register_style.css' %}" />

<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="core">
    <header>
      <nav class = "menu">
	<li><a href="/">Home</a></li>
	<li><a href="/signup/">SignUp</a></li>
      </nav>
    </header>
    
    <form id="contactform">
      <p class="contact"><label for="name">Name</label></p>
      <input id="name" name="name" placeholder="First and last name" required="" tabindex="1" type="text">
      <p class="contact"><label for="email">Email</label></p>
      <input id="email" name="email" placeholder="example@domain.com" required="" tabindex="2" type="email">
      <p class="contact"><label for="username">Create a username</label></p>
      <input id="username" name="username" placeholder="username" required="" tabindex="3" type="text">
      <p class="contact"><label for="password">Create a password</label></p>
      <input type="password" id="password" name="password" required="" tabindex="4" type="text">
      <p class="contact"><label for="repassword">Confirm your password</label></p>
      <input type="password" id="password" name="password" required="" tabindex="5" type="text">
      <select class="select-style gender" name="gender" tabindex="9">
	<option value="select">i am..</option>
	<option value="m">Male</option>
	<option value="f">Female</option>
	<option value="others">Other</option>
      </select><br><br>
      <p class="contact"><label for="phone">Mobile phone</label></p>
      <input id="phone" name="phone" placeholder="phone number" tabindex="10" required="" type="text"> <br>
      <input class="buttom" name="submit" id="submit" tabindex="11" value="Sign me up!" type="submit">   
    </form>
    <footer>
    </footer>
  </div>
  

</body>
</html>
