<!doctype html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'uploadApp/user_style.css' %}" />

<head>
  <meta charset="utf-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="core">
    <header>
      <nav class="menu">
	<li><a href="/logout/">Log Out</a></li>
      </nav>
    </header>

    <section class="centralpage">
      <aside class="awsfile">
	<form enctype="multipart/form-data" action="/do_upload/" method="post">
	  {% csrf_token %}
	  <p class="File_to_upload">File to upload to S3:</p>
	  </br>
	  <input class="input_file" name="file" type="file" required=""></br>
	  <label class="label_available" for="Available time">Available Time</label></br>
	  <input class="input_available" name="time_available" type="number" placeholder="Available Time (Days)" required="">
	  </br> 
	  <input class="submit_button" type="submit" value="Upload File to S3"> 
	</form> 	
      </aside>
      <aside class="files">
	<p class="file_title">
	  List of uploaded files
	</p>
	<ul class="file_list">
	  {% if list_files %}
	  {% for file in list_files %}
	  <li><a href={{file.shortlink}}>{{file.file_name}}</a></li>
	  {% endfor %}
	  
	  {% endif %}
	</ul>
	</nav>
      </aside>
    </section>
    
    <footer>
    </footer>
  </div>
</body>
</html>
