<!doctype html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'uploadApp/user_style.css' %}" />

<head>
  <meta charset="utf-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="core">
    <header>
      <nav class="menu">
	<li><a href="/logout/">Log Out</a></li>
      </nav>
    </header>

    <section class="centralpage">
      <aside class="dropzone">
	<style>
	  #holder.hover { border: 4px dashed #0c0 !important; }
	</style>
	<form method="post" action="/">
	  {% csrf_token %}
	  <input type="file"></br>
	  <input id="fileDragName"></br>
	  <input id="fileDragSize"></br>
	  <input id="fileDragType"></br>
	  <input id="fileDragData">
	  <div id="holder" style="width:200px; height:200px; border: 5px dashed #ccc" id="holder"></div>
	  <input type="submit" value="Upload"/>
	</form>
	<script>
	  function readfiles(files) {
	  for (var i = 0; i < files.length; i++) {
			      document.getElementById('fileDragName').value = files[i].name
			      document.getElementById('fileDragSize').value = files[i].size
			      document.getElementById('fileDragType').value = files[i].type
			      document.getElementById('fileDragData').value = files[i].slice();
			      reader = new FileReader();
			      reader.onload = function(event) {
			      document.getElementById('fileDragData').value = event.target.result;}
			      reader.readAsDataURL(files[i]);
			      }
			      }
			      var holder = document.getElementById('holder');
			      holder.ondragover = function () { this.className = 'hover'; return false; };
			      holder.ondragend = function () { this.className = ''; return false; };
			      holder.ondrop = function (e) {
			      this.className = '';
			      e.preventDefault();
			      readfiles(e.dataTransfer.files);
			      } 
			      </script>
      </aside>
    </section>
    
    <footer>
    </footer>
  </div>
</body>
</html>
