body{
  background:#567;
  font-family:'Open Sans',sans-serif;
}

*{margin:0;padding:0;}

/* Navigation */

nav{
    height: 28px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    width: 900px;
    text-align: right;
    padding-bottom: 30px;
    padding-top: 30px;
    background:#3399cc;
    box-shadow: 0px 2px 5px #1c1a19
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 15px;
}

nav a{
    font-family:Arial, Helvetica;
    font-size: 1.1em;
    color: #fff;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}

.core{
    width: 900px;
    margin: auto;
}

/*Central Page*/

.middle{
    width: 700px;
    height: 800px;
    margin:0 auto;
    background:#fff;
    display:block;
}

h1{
    padding:20px;
}

p{
    padding: 20px;
}