body{
  background:#567;
  font-family:'Open Sans',sans-serif;
}

*{margin:0;padding:0;}

/* Navigation */

nav{
    height: 28px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    width: 900px;
    text-align: right;
    padding-bottom: 30px;
    padding-top: 30px;
    background:#3399cc;
    box-shadow: 0px 2px 5px #1c1a19
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 15px;
}

nav a{
    font-family:Arial, Helvetica;
    font-size: 1.1em;
    color: #fff;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}

.core{
    width: 900px;
    margin: auto;
}

/* Central page */

.centralpage{
    width: 700px;
    height: 800px;
    margin:0 auto;
    background:#fff;
    display:block;
}

.dropzone{
    float:right;
    border: 1px solid blue;
}

.awsfile{
    padding: 25px;
}

.File_to_upload{
    padding-top:10px;
}

.input_file{
    padding:10px;
    margin-bottom:10px
}

.label_available{
    padding:10px;
    margin-bottom:10px;
}

.input_available{
    padding:10px;
    margin-bottom:10px;
}

.submit_button{
    padding:10px;
}

.file_title{
    margin-left: 20px;
}

.file_list {
    width:320px;
    margin: 50px;
}
.file_list ol {
    font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#bfe1f1;
}
.file_list ol li{
}
.file_list ol li p
{ padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#eee; border-left: 1px solid #999;
}
.file_list ol li p em{
    display:block;
}